<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container">
  <h1>{{ page.title }}</h1>
  {{ content }}
  <ul>
  <li><a href="breed_characteristics.html" class="btn btn-primary">Breed Characteristics</a></li>
   <li><a href="training.html" class="btn btn-primary">Training</a></li>
   <li><a href="health.html" class="btn btn-primary">Health</a></li>
   <li><a href="history.html" class="btn btn-primary">History</a></li>
   <li><a href="similar_breeds.html" class="btn btn-primary">History</a></li>
 </ul>
  </div>
</div>
</body>
</html>
